$btn-icon-size--small: $default-spacing-unit * 1;
$btn-icon-size--large: $default-spacing-unit * 1.5;
$btn-padding--small: $default-spacing-unit / 4;
$btn-padding--medium: $default-spacing-unit / 2;

.btn,
%btn {
	box-sizing: border-box;
	line-height: 1.5;
	position: relative;
	background-color: $btn-default-bg-pasive;
	border: 0;

	&:hover {
		background-color: $btn-default-bg-pasive-hover;
	}
}

.btn--small {
	padding: $btn-padding--small $btn-padding--small * 2;
}

.btn--medium {
	padding: $btn-padding--medium $btn-padding--medium * 2;
}

.btn--cta {
	background-color: $brand-primary;
	transition: background easeIn 250ms;

	&:hover {
		background-color: $brand-primary-active;
	}
}

.btn--icon {
	background-color: transparent;

	svg {
		height: 65%;
		fill: $brand-delta;
		transition: background easeIn 250ms;
		vertical-align: bottom;
	}

	&:hover {
		background-color: transparent;

		svg {
			fill: $brand-primary;
		}
	}
}

.btn--ui {
	width: $btn-icon-size--small;
	height: $btn-icon-size--small;
}

.btn--uilarge {
	width: $btn-icon-size--large;
	height: $btn-icon-size--large;
	padding: 0;
	background-color: #fff;
	border: $btn-default-border-width solid $btn-border;
	box-sizing: content-box;

	svg {
		fill: $brand-primary;
		animation: iconOut .25s;
		vertical-align: middle;
	}

	&:hover {
		background-color: $brand-primary;
		border: $btn-default-border-width solid $btn-border;

		svg {
			fill: #fff;
			animation: iconIn .25s;
		}
	}

	&.is-disabled {
		border-color: grey;
		transition: none;

		svg,
		:hover & {
			fill: grey;
			animation: none;
			background-color: #fff;
		}
	}
}

// 1, 2. Because border on btn affects abs positioning
.btn__ripple {
  position: absolute;
  top: -$btn-default-border-width;  // [1]
  left: -$btn-default-border-width; // [2]
  border-radius: 50%;
  width: $btn-icon-size--large;
  height: $btn-icon-size--large;
  background: black;//$brand-primary-active;
  opacity: 0;

    
  animation: ripple-animation 500ms;
}

.btn--google {
	background-color: $google;
	margin-bottom: $default-spacing-unit;

	svg {
		width: 1.5em;
		vertical-align: middle;
		fill: #ffffff;
	}
}

.btn__text {
	@include font-size(17px);

	margin-left: .5em;
	vertical-align: inherit;
}