$brand-primary: #DF4400;
$brand-primary-active: #9CD462;
$brand-secondary: #3498db;
$brand-secondary-active: #2980b9;
$brand-tertiary: #fff;
$brand-delta: #627793;
$brand-border-light: #e0e0e0;
$brand-bg-light: #fafafa;

// TEXT
$text-primary: $brand-delta;
$text-secondary: $brand-primary;

// HEADINGS
$heading: $brand-delta;
$heading-info: $brand-delta;

// BUTTONS
$btn-default-bg: $brand-primary;
$btn-default-bg-hover: $brand-primary;
$btn-default-color: #ffffff;
$btn-border: $brand-primary;
$btn-default-bg-pasive: #c6c6c6 !default;
$btn-default-bg-pasive-hover: #8f8f8f !default;

$btn-primary: $brand-secondary;
$btn-primary-hover: $brand-secondary-active;

$btn-pill-bg: $brand-tertiary;

// TABLES
$border-color: $brand-border-light;
$table-strip-bg: $brand-primary;
$thead-bg: $brand-primary;

// MAIN
$navbar-bg: $brand-bg-light;
$navbar-border: $brand-border-light;

// SOCIAL
$google: #DD4B39;